@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300,400,500&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    /* overflow: hidden;            good thing, when you want to stop the scrol effect*/
}

header {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

header .base {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #eee;
    clip-path: polygon(0 80vh, 100% 20vh, 100% 100%, 0 100%);
    margin: 0;
    padding: 0;
}

header .logo {
    position: absolute;
    top: 4rem;
    left:10rem;
    width: 200px;
    height: 150px;
}

header .logo img {
    width: 100%;
    height: 100%;
    opacity: .8;
}

header .syntax {
    position: absolute;
    top: 17rem;
    left: 10rem;
}

header .syntax p {
    font-size: 70px;
    font-family: 'Alegreya Sans SC', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 500;
    color: #494a49;
    text-shadow: 0 4px 6px rgba(0,0,0,.3);
}

header .syntax .dark {
    color: #000;
}

header .device {
    position: absolute;
    right: 15vw;
    bottom: 20vh;
    height: 400px;
    width: 550px;
    z-index: 1;
}

header .device img {
    width: 100%;
    height: 100%;
}

header .google {
    position: absolute;
    right: 2rem;
    bottom: 1rem;
    width: 80px;
    height: 80px;
}

header .google img {
    width: 100%;
    height: 100%;
    opacity: .8;
}

@media(max-width: 1000px) {
    header .logo {
        top: 4rem;
        left:8rem;
        width: 180px;
        height: 140px;
    }
    header .syntax {
        top: 15rem;
        left: 8rem;
    }
    header .syntax p {
        font-size: 60px;
    }
    header .device {
        right: 5vw;
        bottom: 20vh;
        height: 320px;
        width: 450px;
    }
}
@media(max-width: 700px) {
    header .logo {
        top: 4rem;
        left:4rem;
        width: 160px;
        height: 120px;
    }
    header .syntax {
        top: 13rem;
        left: 4rem;
    }
    header .syntax p {
        font-size: 50px;
    }
    header .device {
        right: -2vw;
        bottom: 20vh;
        height: 260px;
        width: 350px;
    }
    header .google {
        width: 60px;
        height: 60px;
    }
}
@media(max-width: 550px) {
    header .logo {
        top: 2rem;
        left:3rem;
        width: 160px;
        height: 120px;
    }
    header .syntax {
        top: 11rem;
        left: 3rem;
    }
    header .syntax p {
        font-size: 40px;
    }
    header .device {
        right: -8vw;
        bottom: 15vh;
        height: 260px;
        width: 350px;
    }
    header .google {
        width: 50px;
        height: 50px;
    }
}
@media(max-width: 420px) {
    header .logo {
        top: 2rem;
        left:2rem;
        width: 140px;
        height: 100px;
    }
    header .syntax {
        top: 10rem;
        left: 2rem;
    }
    header .syntax p {
        font-size: 40px;
        text-shadow: 0 3px 4px rgba(0,0,0,.3);
    }
    header .device {
        right: 0vw;
        bottom: 10vh;
        height: 210px;
        width: 300px;
    }
    header .google {
        width: 50px;
        height: 50px;
        right: 1rem;
        bottom: 1rem;
    }
}
.banner {
    width: 100%;
    margin: 0;
    padding: 0;
}

.banner p {
    text-align: center;
    font-size: 70px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 500;
    color: #494a49;
    text-shadow: 0 4px 6px rgba(0,0,0,.3);
    margin: 0;
    padding: 50px 0;
}
@media(max-width: 1000px) {
    .banner p {
        font-size: 50px;
        padding: 40px 0;
    }   
}
@media(max-width: 700px) {
    .banner p {
        font-size: 35px;
        padding: 35px 0;
    }   
}
@media(max-width: 550px) {
    .banner p {
        font-size: 25px;
        text-shadow: 0 3px 4px rgba(0,0,0,.3);
        padding: 25px 0;
    }   
}
@media(max-width: 420px) {
    .banner p {
        font-size: 20px;
        text-shadow: 0 2px 3px rgba(0,0,0,.3);
        padding: 20px 0;
    }   
}