@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300,400,500&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    /* overflow: hidden;            good thing, when you want to stop the scrol effect*/
}

header {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    min-height: 520px;
}

header .base {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #eee;
    clip-path: polygon(0 80vh, 100% 20vh, 100% 100%, 0 100%);
    margin: 0;
    padding: 0;
}

header .logo {
    position: absolute;
    top: 4rem;
    left:10rem;
    width: 200px;
    height: 150px;
}

header .logo img {
    width: 100%;
    height: 100%;
    opacity: .8;
}

header .syntax {
    position: absolute;
    top: 17rem;
    left: 10rem;
}

header .syntax p {
    font-size: 70px;
    font-family: 'Alegreya Sans SC', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 500;
    color: #494a49;
    text-shadow: 0 4px 6px rgba(0,0,0,.3);
}

header .syntax .dark {
    color: #000;
}

header .device {
    position: absolute;
    right: 15vw;
    bottom: 20vh;
    height: 400px;
    width: 550px;
    z-index: 1;
}

header .device img {
    width: 100%;
    height: 100%;
}

header .google {
    position: absolute;
    right: 2rem;
    bottom: 1rem;
    width: 80px;
    height: 80px;
}

header .google img {
    width: 100%;
    height: 100%;
    opacity: .8;
}

@media(max-width: 1000px) {
    header .logo {
        top: 4rem;
        left:8rem;
        width: 180px;
        height: 140px;
    }
    header .syntax {
        top: 15rem;
        left: 8rem;
    }
    header .syntax p {
        font-size: 60px;
    }
    header .device {
        right: 5vw;
        bottom: 20vh;
        height: 320px;
        width: 450px;
    }
}
@media(max-width: 700px) {
    header .logo {
        top: 4rem;
        left:4rem;
        width: 160px;
        height: 120px;
    }
    header .syntax {
        top: 13rem;
        left: 4rem;
    }
    header .syntax p {
        font-size: 50px;
    }
    header .device {
        right: -2vw;
        bottom: 20vh;
        height: 260px;
        width: 350px;
    }
    header .google {
        width: 60px;
        height: 60px;
    }
}
@media(max-width: 550px) {
    header .logo {
        top: 2rem;
        left:3rem;
        width: 160px;
        height: 120px;
    }
    header .syntax {
        top: 11rem;
        left: 3rem;
    }
    header .syntax p {
        font-size: 40px;
    }
    header .device {
        right: -8vw;
        bottom: 15vh;
        height: 260px;
        width: 350px;
    }
    header .google {
        width: 50px;
        height: 50px;
    }
}
@media(max-width: 425px) {
    header .logo {
        top: 2rem;
        left:2rem;
        width: 140px;
        height: 100px;
    }
    header .syntax {
        top: 10rem;
        left: 2rem;
    }
    header .syntax p {
        font-size: 40px;
        text-shadow: 0 3px 4px rgba(0,0,0,.3);
    }
    header .device {
        right: 0vw;
        bottom: 10vh;
        height: 210px;
        width: 300px;
    }
    header .google {
        width: 50px;
        height: 50px;
        right: 1rem;
        bottom: 1rem;
    }
}
.banner {
    width: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgba(255,255,255,.4),rgba(255,255,255,.4)), url(./images/21_.jpg) fixed;
    background-position: center;
    background-size: cover;
}

.banner p {
    text-align: center;
    font-size: 70px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 500;
    color: #494a49;
    text-shadow: 0 4px 6px rgba(0,0,0,.3);
    margin: 0;
    padding: 50px 0;
}
@media(max-width: 1000px) {
    .banner p {
        font-size: 50px;
        padding: 40px 0;
    }   
}
@media(max-width: 700px) {
    .banner p {
        font-size: 35px;
        padding: 35px 0;
    }   
}
@media(max-width: 550px) {
    .banner p {
        font-size: 25px;
        text-shadow: 0 3px 4px rgba(0,0,0,.3);
        padding: 25px 0;
    }   
}
@media(max-width: 425px) {
    .banner p {
        font-size: 20px;
        text-shadow: 0 2px 3px rgba(0,0,0,.3);
        padding: 20px 0;
    }   
}

.demo {
    margin: 0;
    padding: 0;
    width: 100%;
}

.demo .block {
    background-color: #eee;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.demo .dark {
    background-color: #494a49;
}

.demo .block p {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 42px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 500;
    color: #494a49;
    text-shadow: 0 3px 4px rgba(0,0,0,.3);
    margin: 0;
    padding: 20px 0;
    width: 75%;
}

.demo .dark p {
    color: #fff;
    text-shadow: 0 3px 4px rgba(255,255,255,.4);
}

.demo .block .invoke {
    transform: translateX(-70%);
    font-size: 25px;
    font-weight: 400;
    text-shadow: 0 1px 2px rgba(0,0,0,.3);
    padding: 10px 5px 30px 5px;
    width: 65%;
    background-color: #fff;
    clip-path: polygon(100% 0, 100% 80%, 60% 80%, 50% 100%, 40% 80%, 0 80%, 0 0);
    margin-bottom: -50px;
    z-index: 1;
}

.demo .block .phone {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 140vw;
    height: 160vw;
    margin: 0;
    padding: 0;
}

.demo .block .phone img{
    width: 100%;
    height: 100%;
}

@media(min-width: 550px) {
    .demo .block p {
        left: 0rem;
        top: 10rem;
        transform: translate(0,0);
        font-size: 45px;
        text-shadow: 0 3px 4px rgba(0,0,0,.3);
        padding: 20px 0;
        width: 50%;
    }    
    .demo .block .phone {
        left: 16rem;
        top: -8rem;
        transform: translate(0,0);
        width: 420px;
        height: 500px;
        margin-bottom: -8rem;
    }
    .demo .dark p {
        left: 18rem;
        top: 12rem;
    }
    .demo .dark .phone{
        left: -3rem;
        top: -8rem;
    }
    .demo .block .invoke {
        top: 13rem;
        left: 5rem;
        transform: translate(0);
        font-size: 25px;
        padding: 10px 30px 15px 5px;
        width: 40%;
        clip-path: polygon(90% 0, 90% 65%, 94% 100%, 83% 90%, 0 90%, 0 0);
        margin-bottom: 0px;
    }
}
@media(min-width: 700px) {
    .demo .block p {
        left: 2rem;
        top: 10rem;
        transform: translate(0,0);
        font-size: 60px;
        text-shadow: 0 3px 4px rgba(0,0,0,.3);
        padding: 20px 0;
        width: 50%;
    }    
    .demo .block .phone {
        left: 22rem;
        top: -8rem;
        transform: translate(0,0);
        width: 520px;
        height: 600px;
        margin-bottom: -8rem;
    }
    .demo .dark p {
        left: 24rem;
        top: 12rem;
    }
    .demo .dark .phone{
        left: 0rem;
        top: -8rem;
    }
    .demo .block .invoke {
        top: 15rem;
        left: 5rem;
        transform: translate(0);
        font-size: 25px;
        padding: 10px 40px 15px 5px;
        width: 40%;
        clip-path: polygon(90% 0, 90% 65%, 94% 100%, 83% 90%, 0 90%, 0 0);
        margin-bottom: 0px;
    }
}

@media(min-width: 900px) {
    .demo .block .phone {
        left: 26rem;
    }
    .demo .dark .phone{
        left: 0rem;
        top: -8rem;
    }
}

@media(min-width: 1025px) {
    .demo .block p {
        left: 10rem;
        top: 15rem;
        transform: translate(0,0);
        font-size: 70px;
        text-shadow: 0 3px 4px rgba(0,0,0,.3);
        padding: 20px 0;
        width: 40%;
    }    
    .demo .block .phone {
        left: 45rem;
        top: -8rem;
        transform: translate(0,0);
        width: 620px;
        height: 700px;
        margin-bottom: -8rem;
    }
    .demo .dark p {
        left: 40rem;
        top: 12rem;
    }
    .demo .dark .phone{
        left: 2rem;
        top: -8rem;
    }
    .demo .block .invoke {
        top: 20rem;
        left: 15rem;
        transform: translate(0);
        font-size: 25px;
        padding: 10px 40px 15px 5px;
        width: 40%;
        clip-path: polygon(90% 0, 90% 65%, 94% 100%, 83% 90%, 0 90%, 0 0);
        margin-bottom: 0px;
    }
}

.link {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
    position: relative;
}

.link .safe {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    margin: 0;
    width: 50%;
    height: 100%;  
    text-align: center; 
    /* background-color: #eee; */
}

.link .safe p {
    text-align: center;
    font-size: 35px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 500;
    color: #494a49;
    text-shadow: 0 3px 4px rgba(0,0,0,.3);
    margin: 0;
    padding: 20px;
    margin-top: 20%;
}

.link .safe p span {
    color: #000;
}

.link .safe a {
    margin: 0;
    padding: 10px 20px;
    background-color: #494a49;
    text-align: center;
    font-size: 20px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    display: inline-block;
    margin-top: 50px;
    transition: .2s;
}

.link .safe a:hover {
    box-shadow: 0 10px 12px rgba(0,0,0,.4);
    transform: translateY(-5px);
}

.link .self {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 50%;
    position: relative;
}

.link .self .img {
    margin: 0;
    padding: 0;
    width: 480px;
    height: 670px;
}

.link .self .img img {
    width: 100%;
    height: 100%;
}

.link .self .links {
    position: absolute;
    bottom: 2rem;
    right: 1rem;
    margin: 0;
    padding: 0;
}

.link .self .links a {
    display: inline-block;
    margin: 0;
    padding: 10px;
    text-align: center;
    font-size: 32px;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #494a49;
    text-decoration: none;
    margin-right: .5rem;
    text-shadow: 0 3px 5px rgba(0,0,0,.4);
    transition: .2s;
    opacity: .9;
}

.link .self .links a:hover {
    text-shadow: 0 6px 7px rgba(0,0,0,.5);
    opacity: 1;
    transform: translateY(-5px);
}

@media(max-width: 1024px) {
    .link .safe p {
        font-size: 30px;
        margin-top: 18%;
    }
    .link .self .img {
        width: 400px;
        height: 600px;
    }
    .link .self .links {
        bottom: 2rem;
        right: 1rem;
    }
    .link .self .links a {
        display: flex;
        padding: 8px;
        font-size: 28px;
        margin-right: .2rem;
    }
}

@media(max-width: 768px) {
    .link .safe p {
        font-size: 25px;
        margin-top: 18%;
        padding: 15px;
    }
    .link .self .img {
        width: 320px;
        height: 480px;
    }
    .link .self .links {
        bottom: 1rem;
        right: 1rem;
    }
    .link .self .links a {
        display: flex;
        padding: 5px;
        font-size: 25px;
        margin-right: .2rem;
    }
    .link .safe a {
        padding: 8px 15px;
        font-size: 15px;
        margin-right: 15px;
        margin-top: 40px;
    }
}

@media(max-width: 700px) {
    .link .safe p {
        font-size: 20px;
        margin-top: 18%;
        padding: 15px;
    }
    .link .self .img {
        width: 280px;
        height: 420px;
    }
    .link .self .links {
        bottom: 1rem;
        right: 0rem;
    }
    .link .self .links a {
        display: flex;
        padding: 5px;
        font-size: 20px;
        margin-right: .2rem;
    }
    .link .safe a {
        padding: 8px 15px;
        font-size: 12px;
        margin-right: 15px;
        margin-top: 40px;
    }
}

@media(max-width:550px) {
    .link .self,
    .link .safe {
        display: block;
        position: initial;
        width: 100%;
    }
    .link .safe p {
        font-size: 30px;
        margin-top: 10%;
        padding: 25px;
    }
    .link .self .img {
        width: 350px;
        height: 520px;
    }
    .link .self .links {
        bottom: 1rem;
        right: 0rem;
    }
    .link .self .links a {
        display: inline-block;
        padding: 8px;
        font-size: 25px;
        margin-right: .5rem;
    }
    .link .safe a {
        padding: 10px 15px;
        font-size: 20px;
        margin-right: 15px;
        margin-top: 30px;
        margin-bottom: 50px;
    }
}

@media(max-width:425px) {
    .link .self,
    .link .safe {
        display: block;
        position: initial;
        width: 100%;
    }
    .link .safe p {
        font-size: 25px;
        margin-top: 7%;
        padding: 25px;
    }
    .link .self .img {
        width: 330px;
        height: 480px;
    }
    .link .self .links {
        bottom: 1rem;
        right: 2rem;
    }
    .link .self .links a {
        display: flex;
        padding: 10px;
        font-size: 25px;
        margin-right: .5rem;
    }
    .link .safe a {
        padding: 10px 14px;
        font-size: 18px;
        margin-right: 15px;
        margin-top: 30px;
        margin-bottom: 50px;
    }
}

@media(max-width:385px) {
    .link .self,
    .link .safe {
        display: block;
        position: initial;
        width: 100%;
    }
    .link .safe p {
        font-size: 25px;
        margin-top: 7%;
        padding: 20px;
    }
    .link .self .img {
        width: 280px;
        height: 420px;
    }
    .link .self .links {
        bottom: 1rem;
        right: 1rem;
    }
    .link .self .links a {
        display: flex;
        padding: 10px;
        font-size: 25px;
        margin-right: .5rem;
    }
    .link .safe a {
        padding: 9px 13px;
        font-size: 15px;
        margin-right: 10px;
        margin-top: 30px;
        margin-bottom: 50px;
    }
}